<div class="container-fluid">
    <div class="row content">
        <div class="col-3">
            <div class="content-vertical">
                <div class="title middle">
                    <span>Calendar</span>
                </div>
                <div class="years middle row justify-content-center">
                    <div class="col-2">
                        <a class="prev" (click)="plusSlides(-1)">❮</a>
                    </div>
                    <div class="years-slides-container col-4">
                        <div class="year" *ngFor="let year of years">
                            <span>{{ year }}</span>
                        </div>
                    </div>
                    <div class="col-2">
                        <a class="next" (click)="plusSlides(1)">❯</a>
                    </div>
                </div>
                <div class="months middle">
                    <div class="igx-calendar__body">
                        <div class="igx-calendar__body-column">
                            <!-- <span class="igx-calendar__year" (yearSelection)="selectYear($event)"
                                *ngFor="let month of months; trackBy: yearTracker">
                                {{ month }}
                            </span> -->
                        </div>
                    </div>
                </div>
                <div class="copyright">
                    <span>Jafet Projects @2021</span>
                </div>
            </div>
        </div>
        <div class="col-9 middle">
            <div class="calendar-view">
                <div class="row" id="today-date">
                    <p class="current-date">{{ viewDate | date: 'LLL dd, E' }}</p>
                </div>
                <div class="row justify-content-center" id="calendar">
                    <div [ngSwitch]="view" class="col-11">
                        <mwl-calendar-month-view [viewDate]="viewDate" [events]="list_appointments" [refresh]="refresh"
                            [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
                            (eventClicked)="eventClicked($event)" (eventTimesChanged)="eventTimesChanged($event)">
                        </mwl-calendar-month-view>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="row justify-content-center" id="list-tasks">
                        <div class="col-10">
                            <button mat-mini-fab color="primary" aria-label="Create new appointment."
                                (click)="create_appointment()">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>