.container-fluid {
  height: 100%;
  overflow-y: hidden;
}

.calendar-view {
  height: 100%;
}

.col-9 {
  text-align: center;
  padding: 10%;
  padding-left: 20%;
  padding-top: 12%;
  border-radius: 1000px 0 0 1000px;
  background-color: #82c0cc;
}

.current-date {
  font-size: xx-large;
  color: #635a6d;
  text-align: left;
}

#today-date {
  margin-bottom: 2.2em;
}

#calendar {
  margin-bottom: 3em;
}

#list-tasks {
  text-align: left;
  font-size: medium;
  color: #584B66;
}

button {
  float: right;
}