<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container" id="container">
    <div class="form-container sign-up-container">
        <app-register></app-register>
    </div>
    <div class="form-container sign-in-container">
        <app-login></app-login>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <h2>To keep connected with us please login with your personal info</h2>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <h2>Sign up and discover a tool with a great amout of opportunities.</h2>
                <button class="ghost" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>